body {
	background-image: url(http://cdn.wallpapersafari.com/22/97/qJvG2k.jpg);
	}

img {
    position: absolute;
	width: 275px;
    height:300px;
    top: 50%;
	right: 5%;
    border-radius: 5%;
    -ms-transform: rotate(355deg);
    -webkit-transform: rotate(355deg);
    transform: rotate(355deg);
    border-style: outset;
    box-shadow: 10px 10px 5px #888888;
	  }

#name {
	float:left;
	margin-left: 5px;
	font-family: Verdana;
	font:40px solid;
		}
#top {
	z-index: 1;
	position: absolute;
	height: 100px;
	width: 97.5%;
	margin-top: -30px;
	margin-bottom: 10px;
	font-size: 20px;
	border-bottom: 4px solid;
	}

#email{
	float:right;
	padding-top: -5px;
	margin-right: 5px;
	font-size: 16px;
	font-family: Verdana,serif;
		}

.div p{
  font-weight: bolder;  
}

h3 {
	text-decoration: underline;
	margin-left: 5px;
	margin-bottom: 15px;
	font-family: Verdana;

}
#objective {
    position: relative;
    padding-top: 60px;
    padding-bottom: 30px;
    width: 60%;   
}
#objective span {
    font-size: 14px;
}
.div{
    width: 60%;
    display: flex;
    margin-bottom: 10px;
}
.heading{
    float: right;
    height: 50px;
    margin: 0;
}
.info{
    margin-left: 50px;
    padding-left: 20px;
    border-left: 1px solid;
    display: table;
}
.head{
    width: 150px;
    text-align: right;	
}

#bottom {
	position: relative;
	height: 50px;
	font-family: Verdana;
	font-size: 14px;
	text-align: right;	
}
